openapi: 3.2.0
info:
  title: Dott GBFS System API
  version: '2.3'
  description: Dott's implementation of the General Bikeshare Feed Specification (GBFS) 2.3 for its shared e-scooter and e-bike fleets across European and Middle Eastern cities.
  contact:
    name: Dott Partner Integrations
    url: https://ridedott.dev/docs/services/gbfs/introduction/
  license:
    name: GBFS (Creative Commons / MobilityData)
    url: https://github.com/MobilityData/gbfs/blob/v2.3/gbfs.md
servers:
- url: https://gbfs.api.ridedott.com/public/v2
  description: Public GBFS 2.3 feeds (open, rotating vehicle IDs)
tags:
- name: System
  description: System-level metadata and pricing
paths:
  /{city}/system_information.json:
    get:
      tags:
      - System
      operationId: getSystemInformation
      summary: System information for a city
      parameters:
      - $ref: '#/components/parameters/City'
      responses:
        '200':
          description: System information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GbfsFeed'
        '404':
          $ref: '#/components/responses/RegionNotFound'
  /{city}/system_pricing_plans.json:
    get:
      tags:
      - System
      operationId: getSystemPricingPlans
      summary: Pricing plans for a city
      parameters:
      - $ref: '#/components/parameters/City'
      responses:
        '200':
          description: Pricing plans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GbfsFeed'
        '404':
          $ref: '#/components/responses/RegionNotFound'
components:
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: string
          description: Human-readable error message string (GBFS-style flat envelope).
    GbfsFeed:
      allOf:
      - $ref: '#/components/schemas/GbfsEnvelope'
    GbfsEnvelope:
      type: object
      description: Common GBFS envelope wrapping every feed response.
      required:
      - last_updated
      - ttl
      - version
      - data
      properties:
        last_updated:
          type: integer
          description: POSIX timestamp of last data refresh
        ttl:
          type: integer
          description: Seconds the response can be cached before refetching
        version:
          type: string
          example: '2.3'
        data:
          type: object
  responses:
    RegionNotFound:
      description: The requested city/region is not available.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: 'Not Found: ERR_REGION_NOT_FOUND'
  parameters:
    City:
      name: city
      in: path
      required: true
      description: City slug as listed in the discovery document (e.g. espoo, brussels, warsaw).
      schema:
        type: string
      example: espoo
